body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.planningContainer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container {
    text-align: center;
}

h1 {
    color: #00bfff;
}

.form-container {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
    /* Couleur du texte */
}

input[type="text"],
select,
input[type="date"],
input[type="time"] {
    width: 222px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    color: #000;
    /* Couleur du texte */
}

blockquote {
    font-weight: bold;
}

.date-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.column {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 60px;
}

.button-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #00bfff;
    margin: 10px;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.buttonTrash {
    background-color: rgb(191, 191, 191);
}

.save-modify-buttons {
    display: flex;
    gap: 10px;
}

button:hover {
    background-color: #007acc;
}